* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #b3dde2 , #87CEEB);
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
}
